*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 20px;
}


header img {
  width: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
  
}

header h1 {
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}
header span {
  font-weight: 800;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

main input {
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 0 auto 40px;
  border: none;
  height: 40px;
  box-shadow: 0 3px 5px 0px #33333346;
  padding: 0 10px;
}

@keyframes badSearch {
  0% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
main input.active {
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 0 auto 40px;
  border: red 1px solid;
  height: 40px;
  box-shadow: 0 3px 5px 0px #bb040446;
  padding: 0 10px;
  animation: badSearch ease-in-out alternate 0.1s 5;
}

main input.active:focus {
  outline: none;
  border-bottom: red 1px solid;
}

main input:focus {
  outline: none;
  border-bottom: 1px solid #22222293;
}

.error-msg {
  text-align: center;
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 600;
}

.container-dot {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.dot {
  width: 15px;
  height: 15px;
  background-color: #031d29;
  border-radius: 50%;
}

.dot:not(:last-child){
  margin-right: 10px;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
  
}
.dot1{
animation: load infinite alternate ease-in 0.2s;
}
.dot2{
  animation: load infinite alternate ease-in 0.2s 0.05s;
}
.dot3{
  animation: load infinite alternate ease-in 0.2s 0.1s;
}


.result-container {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin: 15px 0;
}

.result-title a {
  margin-bottom: 5px;
  color: #002569;
  text-decoration: none;
  margin-bottom: 5px;
}

a.result-link {
  display: inline-block;
  text-decoration: none;
  overflow-wrap: break-word;
  color: #006d43;
  margin-bottom: 5px;
}
